PORT=4003
MONGO_URI=mongodb://mongodb:27017
MONGO_DB_NAME=hms_appointment
JWT_SECRET=change_this_in_production
INTERNAL_API_KEY=change_this_in_production
AUTH_SERVICE_URL=http://auth-service:4001
USER_SERVICE_URL=http://user-service:4002
NOTIFICATION_SERVICE_URL=http://notification-service:4004
API_GATEWAY_URL=http://api-gateway:8080
